$main-color: #279AF1;
$secondary-color: #3D7068;
$background-color: #D7D5D6;

.mapContainer {
  margin-left: 5em;
  margin-top: 2em;
  width: 50%;
  // height: 100vh;
  position: relative;
}

.image {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
}

.map {
  // opacity: 0;
  z-index: 10;
}

svg {
  path {
    fill: $main-color;
    // fill: transparent;

    &:hover {
      fill: $secondary-color;
    }
  }
}

*:focus {
  outline: none;
}